/* reset */
body,
h1,
p,
a,
button,
input,
label {
    margin: 0;
    padding: 0;
}

/* preset */
* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

body {
    background-color: #f5f5f5;
}

/* heaer */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.logo {
    display: block;
    width: 60px;
    height: 60px;
    margin: 1rem;
}

h1 {
    margin-bottom: 5px;
    color: #383838;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.5rem;
}

h2 {
    line-height: 1.4rem;
    font-size: 1rem;
    color: #515151;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-desc {
    text-align: center;
    color: #474747;
    font-size: 0.8rem;
    word-break: keep-all;
}

/* main */
main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

/* file-area 원고 이미지 영역 */
.file-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 80vh;
    border-right: 1px solid #dadada;
}

.file-area h2 {
    text-align: end;
    margin-right: 70px;
}

.file-area input {
    display: none;
}

.btn-fileupload {
    display: block;
    justify-content: center;
    width: auto;
    margin: 48px auto 40px auto;
    padding: 14px 26px;
    border: 1px solid #414141;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    box-shadow: 2px 2px 0.3px rgba(0, 0, 0, 0.25);
}

.btn-fileupload:hover {
    cursor: pointer;
    color: #fff;
    background-color: #55b069;
}

.btn-fileupload:focus {
    border: 1px solid #55b069;
    outline: 2px solid #55b069;
}

.btn-fileupload:active {
    box-shadow: inset 4px 4px rgba(0, 0, 0, 0.25);
}

.image-file-container {
    cursor: move;
    position: relative;
    width: 140px;
    margin: 1rem;
    margin-right: 2rem;
    height: 190px;
    background-color: #dddddd;
    background-size: cover;
    overflow: hidden;
}

.image-file-container.dragging {
    opacity: 0.4;
    size: 90%;
}

.image-file {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    pointer-events: none;
}

.image-delete {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    z-index: 1;
    /* pointer-events: none; */
}

.image-delete::before,
.image-delete::after {
    position: absolute;
    top: calc(50%);
    right: 5px;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #b1b1b1;
    border-radius: 10px;
}

.image-delete::before {
    transform: rotate(45deg);
}

.image-delete::after {
    transform: rotate(-45deg);
}

.image-title {
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    bottom: 0;
    padding: 14px;
    font-size: 0.8rem;
    background-color: rgba(217, 217, 217, 0.9);
    pointer-events: none;
}

.image-drag {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    margin-right: 2rem;
    padding: 10px;
    align-items: center;
    width: 140px;
    margin-bottom: 1rem;
    height: 190px;
    /* background-color: #f8f8f8; */
    font-size: 0.8rem;
    text-align: center;
}

.image-drag * {
    pointer-events: none;
}

.image-drag p {
    margin-top: 0.4rem;
}

/* 중심 휴대폰 */
.pre-area {
    position: relative;
    margin: 0 10px;
}

.phone-container {
    position: sticky;
    top: 100px;
    margin: auto;
}

.phone-inner {
    position: sticky;
    width: 70.6mm;
    height: 147mm;
    margin: 125px auto 120px auto;
    border: 4px solid #1d1c1c;
    border-radius: 10px;
    background-color: #dddddd;
    overflow: scroll;

    scrollbar-width: thin;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.phone {
    position: absolute;
}

.phone::-webkit-scrollbar {
    display: none;
}

.phone img {
    display: block;
    width: 100%;
}

/* -- 폰 기종 가로세로 크기 -- */

.galaxy-s-24 .phone-inner {
    width: 70.6mm;
    height: 147mm;
    border-radius: 34px;
}

.galaxy-s-24-plus .phone-inner {
    width: 75.9mm;
    height: 158.5mm;
    border-radius: 35px;
}

.galaxy-s-24-ultra .phone-inner {
    width: 79mm;
    height: 162.3mm;
    border-radius: 5px;
}

/* .galaxy-s-23  .phone-inner{
    width: 70.9mm;
    height: 146.3mm;
    border-radius: 40px;
}

.galaxy-s-23-plus  .phone-inner{
    width: 76.2mm;
    height: 157.8mm;
    border-radius: 40px;
}

.galaxy-s-23-ultra  .phone-inner{
    width: 78.1mm;
    height: 163.4mm;
    border-radius: 40px;
} */

.galaxy-z-flip5 .phone-inner {
    width: 71.9mm;
    height: 165.1mm;
    border-radius: 25px;
}

/* .galaxy-z-flip4  .phone-inner{
    width: 71.9mm;
    height: 165.2mm;
    border-radius: 40px;
} */

.galaxy-z-fold5 .phone-inner {
    width: 67.1mm;
    height: 154.9mm;
    border-radius: 25px;
}

.galaxy-z-fold5-open .phone-inner {
    width: 129.9mm;
    height: 154.9mm;
    border-radius: 25px;
}

.iphone-15 .phone-inner {
    width: 71.6mm;
    height: 147.6mm;
    border-radius: 40px;
}

.iphone15-plus .phone-inner {
    width: 77.8mm;
    height: 160.9mm;
    border-radius: 40px;
}

.iphone-15-pro .phone-inner {
    width: 70.6mm;
    height: 146.6mm;
    border-radius: 40px;
}

.icon-15-pro-max .phone-inner {
    width: 76.7mm;
    height: 159.9mm;
    border-radius: 25px;
}

/* //-- 폰 기종 가로세로 크기 --// */

.galaxy-s-24 .phone-deco,
.galaxy-s-24-plus .phone-deco,
.galaxy-s-24-ultra .phone-deco,
.galaxy-z-flip5 .phone-deco,
.galaxy-z-fold5 .phone-deco {
    position: absolute;
    top: 14px;
    left: 50%;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #1d1c1c;
    transform: translateX(-50%);
    z-index: 1;
}

.iphone-15 .phone-deco,
.iphone-15-plus .phone-deco,
.iphone-15-pro .phone-deco,
.iphone-15-pro-max .phone-deco {
    position: absolute;
    top: 14px;
    left: 50%;
    width: 25mm;
    height: 22px;
    border-radius: 30mm;
    background-color: #1d1c1c;
    transform: translateX(-50%);
    z-index: 1;
}

/* 
.galaxy-z-flip5 .phone-deco {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
    border-radius: 100%;
    background-color: #000;
    transform: translateX(-50%);
    opacity: 0.1;
} */

/* 
.phone-deco .cutton-group {
    display: flex;
    margin-top: 90px;
    margin-bottom: 90px;
    flex-direction: column;
    align-items: center;
} */

.cutton-des {
    text-align: center;
    margin-bottom: 10px;
}

.cuttoon-button {
    display: none;
}

.cuttoon-label {
    cursor: pointer;
    display: block;
    position: relative;
    width: 63px;
    height: 33px;
    border-radius: 50px;
    background-color: #e0e0e0;

    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.22, 1.275);
}

.cuttoon-label .toggle-circle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #fff;
    transform: translate(7px, -50%);

    transition-property: left transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.22, 1.275);
}

.cuttoon-button:checked + .cuttoon-label .toggle-circle {
    left: calc(100% - 7px);
    transform: translate(-100%, -50%);
}

.cuttoon-button:checked + .cuttoon-label {
    background-color: #55b069;
}

.cuttoon-button:active + .cuttoon-label .toggle-circle {
    width: 60%;
}

/* 휴대폰 기종 */
.kind_area {
    border-left: 1px solid #dadada;
    min-height: 80vh;
}

.kind_area h2 {
    margin-left: 70px;
}

.kind_area input {
    display: none;
}

.kind-btns {
    margin-left: 2rem;
}

.phonetype-container {
    display: inline-block;
}
.btn-phonetype {
    display: inline-block;
    margin: 0 10px 14px 0;
    padding: 12px 26px;
    border: 1px solid #414141;
    border-radius: 5px;
    color: #000000;
    background-color: #fff;
    font-size: 1rem;
}

.btn-phonetype:hover {
    cursor: pointer;
    color: #000000;
    border: 1px solid #414141;
    background-color: #eeeeee;
}

.btn-phonetype:active {
    margin: 1px 11px 15px 1px;
    padding: 11px 25px;
}

.kind_area input:checked + .btn-phonetype {
    color: #f2f2f2;
    font-style: normal;
    border: 1px solid #414141;
    background-color: #414141;
    box-shadow: inset 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer */
footer {
    position: relative;
    color: #212522;
    border-top: 1px solid #dadada;
}

footer * {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
}

.count {
    font-size: 0.8rem;
    padding-top: 13px;
    margin-bottom: 4px;
}

.announce {
    margin-top: 18px;
    color: #737e76;
}

.mail {
    margin-top: 10px;
    padding-bottom: 13px;
}

.nodrag {
    user-select: none;
}

.github {
    font-size: 0;
    display: block;
    color: #212522;
    position: absolute;
    right: 10px;
    top: 10px;
}

.mobile {
    display: none;
}

@media screen and (max-width: 770px) {
    main {
        display: none;
    }

    .logo-container {
        margin: 0;
    }

    .mobile {
        display: block;
        height: 70vh;
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 1rem;
        line-height: 200%;
        word-break: keep-all;
    }

    .mobile p {
        margin: 1rem auto;
    }

    .mobile span {
        font-weight: 700;
    }
}
